<!DOCTYPE html>
<html lang="pt-br">
    <%- include('components/head') %>
<body>
    <%- include('components/header')  %>
    <main>
        <div class="space">
        <h1>Contato</h1>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>