<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="space">
        <h1>Eventos</h1>
        <div class="div-eventos">
            <div class="div-esquerda">
              <img src="/img/criançasnatal.png" />
              <p>
                Nos Anjos da sopa, arrecadamos alguns presentes, alguns alimetos, damos cestas basicas, pra pessoas que estavam precisando,

              </p>
            </div>

            <div class="div-centro">
              <img src="/img/keillane.png" />
              <p>
                Lorem ipsum dolor sit amet. Et molestiae nihil nam voluptas ullam qui minima mollitia sit facilis quod eos quia cumque et tenetur inventore. Et consequatur obcaecati sed adipisci ratione sed rerum atque ut consectetur ratione qui dolorem dolores quo quisquam quia. Ea laborum voluptate est laboriosam exercitationem aut soluta quia et aspernatur deleniti aut pariatur aperiam sit quia dolor. A voluptatem labore et sapiente dolor hic blanditiis culpa aut velit nesciunt hic natus dicta.

                Vel laudantium aperiam nam nihil officiis nam suscipit omnis aut ipsum impedit aut officiis repellat. Ad recusandae iste eum corporis nulla aut delectus rerum At nobis laboriosam.

                Sit maiores maxime et explicabo enim ad asperiores esse. Et animi accusantium ut obcaecati molestiae qui beatae doloremque et impedit minima est nobis quam. Ad animi earum At eligendi quia ut veritatis iure ea internos temporibus non quia nemo.

              </p>
            </div>

            <div class="div-direita">
              <img src="/img/ajuda.jpg" />
              <p>
                Lorem ipsum dolor sit amet. Et molestiae nihil nam voluptas ullam qui minima mollitia sit facilis quod eos quia cumque et tenetur inventore. Et consequatur obcaecati sed adipisci ratione sed rerum atque ut consectetur ratione qui dolorem dolores quo quisquam quia. Ea laborum voluptate est laboriosam exercitationem aut soluta quia et aspernatur deleniti aut pariatur aperiam sit quia dolor. A voluptatem labore et sapiente dolor hic blanditiis culpa aut velit nesciunt hic natus dicta.

                Vel laudantium aperiam nam nihil officiis nam suscipit omnis aut ipsum impedit aut officiis repellat. Ad recusandae iste eum corporis nulla aut delectus rerum At nobis laboriosam.

                Sit maiores maxime et explicabo enim ad asperiores esse. Et animi accusantium ut obcaecati molestiae qui beatae doloremque et impedit minima est nobis quam. Ad animi earum At eligendi quia ut veritatis iure ea internos temporibus non quia nemo.

              </p>
            </div>

            <div class="div-direita">
              <img src="/img/ajuda.jpg" />
              <p>
                Lorem ipsum dolor sit amet. Et molestiae nihil nam voluptas ullam qui minima mollitia sit facilis quod eos quia cumque et tenetur inventore. Et consequatur obcaecati sed adipisci ratione sed rerum atque ut consectetur ratione qui dolorem dolores quo quisquam quia. Ea laborum voluptate est laboriosam exercitationem aut soluta quia et aspernatur deleniti aut pariatur aperiam sit quia dolor. A voluptatem labore et sapiente dolor hic blanditiis culpa aut velit nesciunt hic natus dicta.

                Vel laudantium aperiam nam nihil officiis nam suscipit omnis aut ipsum impedit aut officiis repellat. Ad recusandae iste eum corporis nulla aut delectus rerum At nobis laboriosam.

                Sit maiores maxime et explicabo enim ad asperiores esse. Et animi accusantium ut obcaecati molestiae qui beatae doloremque et impedit minima est nobis quam. Ad animi earum At eligendi quia ut veritatis iure ea internos temporibus non quia nemo.

              </p>
            </div>

        </div>
      
    </main>
    <%- include('components/footer') %>
  </body>
</html>
