<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section id="home" class="home">
        <div class="space">
          <h1>Home</h1>
          <div class="div-principal">
            <div class="div-esquerda">
              <!-- <p>teste 12345</p> -->
              <img src="/img/img.png" />
            </div>

            <div class="div-centro">
              <img src="/img/moletom.png" />
            </div>
            <div class="div-direita">
              <img src="/img/anjos.png" />
            </div>
            <div class="div-direita">
              <img src="/img/anjos.png" />
            </div>
          </div>
        </div>
      </section>

      <section id="quemSomos" class="quemsomos">
        <div class="space">
          <h1>Quem Somos?</h1>
          <!-- <p>
            nos somos os anjos da sopae temps a missao de ajudar todos, gente q
            ajuda gente
          </p> -->
        </div>
      </section>
      <section id="comoAjudar" class="comoajudar">
        <div class="space">
          <h1>Como Ajudar?</h1>
          <div class="ajuda">
            <img src="/img/anjos.png" width="550px" />
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
