<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Quem Somos?</h1>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
