<footer>
  <div class="content-footer">
    <div class="rodape">
      <div class="vasco">
        <h2>R. Javri, 449B - Vila Eldizia, Santo André - SP, 09181-510</h2>
        <div class="logos">
          <a
            href="https://www.instagram.com/anjosdasopadoabc?igsh=MXRldGl2aTYyY2Q0eg=="
          >
            <img src="/img/logoinsta.png" width="50px" />
          </a>

          <a
            href="https://www.facebook.com/profile.php?id=100069767679141&mibextid=ZbWKwL"
          >
            <img src="/img/face-remove.png" width="50px" />
          </a>

          <a
            href="https://api.whatsapp.com/send?phone=5511972154434&text=Ol%C3%A1,%20gostaria%20de%20ajudar%20a%20ONG%20Anjos%20da%20Sopa%20do%20ABC,%20poderia%20me%20passar%20mais%20informa%C3%A7%C3%B5es?"
          >
            <img src="/img/whatspp.png" width="50px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/js/script.js"></script>
